# Dependencies
node_modules/
npm-debug.log*
yarn-error.log
package-lock.json
yarn.lock

# Build files
dist/
build/
.cache

# Environment variables
.env

# Editor files
.vscode/
.idea/
*.swp
*.swo

# macOS system files
.DS_Store