# Ignore Python virtual environment
venv/
.Python

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs and databases
*.log
db.sqlite3
instance/

# Jupyter Notebook
.ipynb_checkpoints/

# macOS system files
.DS_Store
