# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Environment variables
.env

# Database files
*.sqlite3
*.db

# Logs and debug
*.log
logs/
debug.log

# Ignore system files
.DS_Store
Thumbs.db

# Python package files
*.egg-info/
dist/
build/
